{% extends 'base.html' %}
{% load staticfiles %}
<title>{{ title }}</title>
{% block posts %}
    <script language="javascript"> //JavaScript脚本标注
{#    alert("{{ msg }}");#}
    </script>
    {{ msg }}
    <form action="{% url 'login' %}" method="post"  >
          {% csrf_token %}
            <div style="font-size: 25px; font-weight: bold;text-align: left;">
                <p class="center-block">用户登陆</p>
            </div>
            <div class="input-group" style="width: 400px;">
                <span class="input-group-addon" id="basic-addon1">用户名</span>
                <input type="text" id="name" name="username" class="form-control" placeholder="用户名" aria-describedby="basic-addon1">
            </div>
            <div id="error1"></div>
            <br>
            <!--下面是密码输入框-->
            <div class="input-group" style="width: 400px;">
                <span class="input-group-addon" id="basic-addon1">密&nbsp;&nbsp;&nbsp;&nbsp;码</span>
                <input  type="password" id="password" name="password" class="form-control" placeholder="密码" aria-describedby="basic-addon1">
            </div>
            <div id="error2"></div>
            <br>
            <div class="error btns login-form-tips" id="jsLoginTips">{{ msg }}</div>
        <br>
        <!--下面是登陆按钮,包括颜色控制-->
        <input type="submit" style="width:280px;font-size: 20px"  class="btn btn-default" value="登 录" />

    {% csrf_token %}
    </form>
{% endblock posts %}