{% extends 'base.html' %}
{% load staticfiles %}
<title>{{ title }}</title>

{% block posts %}
    <div>
    {{ msg }}{{ user }}
    <form method="post" action="{% url 'password_reset' %}">
        {% csrf_token %}
        <div class="input-group"  style="width: 400px;" >
                <span class="input-group-addon" id="basic-addon1"  style="width: 400px;">password1</span>
                <input type="text" name="password1" >
        </div>
        <div class="input-group"  style="width: 400px;" >
                <span class="input-group-addon" id="basic-addon1"  style="width: 400px;">password2</span>
                <input type="text" name="password2" >
        </div>
        <input type="submit" style="width:280px;" class="btn btn-default"value="重设" />

    </form>
</div>
{% endblock posts %}
